<form action="/update_estudiante/{{ estudiante[0] }}" method="POST">
    <input type="text" name="persona_id" placeholder="persona_id" value="{{ estudiante[1] }}">
    <input type="text" name="Grado" placeholder="Grado" value="{{ estudiante[2] }}">
    <input type="text" name="Grupo" placeholder="Grupo" value="{{ estudiante[3] }}">
    <input type="text" name="Fecha_registro" placeholder="Fecha_registro (2024-07-04)" value="{{ estudiante[4] }}">
    <button type="submit">Guardar</button>
</form>
